*{
    font-family: 'Lato', sans-serif;
}
body{
    font-size: 100%;
    margin: 0;
    max-width: 390px;
    width: 100%;
}
main{
    padding-top: 5%;
    background: black;
    padding-left: 5%;
    padding-right: 5%;
}
header{
    width: 100%;
    display: block;
}
#logo-header{
    height: 40px;
    width: auto;
    padding-left: 2%;
}
.blauw-onderscheid{
    padding-left: 8.90625%;
    width: 91.09375%;
    height: 91px;
    background: #399CFF;
    display: flex;
    flex-direction: row;
}
.blauw-onderscheid .koop-je-tickets{
    width: 50%;
    font-size: 0.9375em;
    margin-top: 25px;
    color: white;
}
#film-keuze-nav{
    padding-left: 0.78125%;
    margin-top: 20px;
    height: 46px;
    border-style: unset;
    color: white;
    background: #76BBD9;
    margin-right: 1.822916666666667%;
}
#quick-nav-mobile{
    width: 100%;
}
#bestel-tickets-nav{
    height: 37px;
    color:#399CFF;
}
#film-quick-order{
    display: flex;
    flex-direction: row;
    width: 21.09375%;
}
h1{
    padding-top: 1%;
    color: #399CFF;
}
.film-titel{
    background: white;
    font-size: small;
    height: 40px;
    vertical-align: middle;
    margin-bottom: 5%;
}
.movie-picture{
    width: 132.500px;
    padding-right: 5%;
}
#film-desc{
    display: flex;
}
.box-desc{
    background: white;
    width: 100%;
    margin-left: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}
.box-desc h2{
    margin: 0;
    font-size: 0.375em;
}
#film-desc img.star-rating{
    width: auto;
    height: 15px;
    padding: 0;
}
#kijk-wijzer img{
    width: auto;
    height: 15px;
    padding: 0;
}
h2{
    font-size: smaller;
    color: gray;
}
.box-desc p {
    font-size: 0.1875em;
}
.extra-info-genres ul{
    font-size: 0.25em;
    padding: 0;
    list-style: none;
    color: grey;
}
.actors img{
    width: auto;
    height: 30px;
}
.actors-names p{
    margin: 0;
    width: 20px;
    /* padding-right: 5px; */
    padding-right: 3%;
}
.actors-names{
    display: flex;
}
.koop-je-tickets-button{
    margin-top: 2%;
    background: #399CFF;
    color: white;
    text-align: center;
    height: 30px;
}
.koop-je-tickets b{
    vertical-align: middle;
}
iframe{
    margin-top: 2%;
    width: 100%;
    margin-bottom: 10%;
    border: #399CFF 4px solid;
}
@media (min-width: 1920px) and (max-width: 2560px)  {
    body{
        width: 100%;
        max-width: 1920px;
    }
    header{
        width: 100%;
    }
    #logo-header{
        height: 104px;
        margin-top: 29px;
        padding-left: 8.90625%;;
    }
    .koop-je-tickets{
        font-size: 30px;
        width: 300px;
        margin: 0;
        margin-top: 1.2%;
    }
    #quick-nav-mobile{
        margin-left: 5%;
    }
    main{
        padding-top: 104px;
    }
    .film-titel{
        height: 137px;
        margin-bottom: 77px;
    }
    h1{
        font-size: 70px;
        margin: 0;
    }
    .movie-picture{
        height: 1014px;
        width: 663px;
        padding-right: 24px;
    }
    .box-desc{
        margin-left: 0;
    }
    #film-desc img.star-rating{
        width: 52.37px;
        height: 50.23px;
    }
    #kijk-wijzer img{
      width: 45px;
      height: 45px;  
    }
    .box-desc{
        width: 50%;
    }
    .box-desc h2{
        font-size: 30px;
    }
    .box-desc p{
        width: 780px;
        height: 370px;
        font-size: 17px;
    }
    .extra-info-genres li{
        font-size: 20px;
    }
    .actors img{
        height: 165px;
        width: 110px;
        margin-right: 20px;
    }
    .actors-names{
        font-size: 15px;
    }
    .actors-names p{
        width: 109px;
        height: 41px;
        padding-right: 25px;
    }
    .koop-je-tickets-button{
        height: 122px;
        font-size: 45px;
    }
    iframe{
        height: 882px;
    }
}