* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0 auto;
}

main {
    width: 81.97916666666667%;
    margin-right: 9.166666666666667%;
    margin-left: 9.166666666666667%;
}

h1 {
    font-size: 30px;
    margin-top: 0;
}

h3 {
    font-size: 30px;
}

header ul {
    display: flex;
    margin: 0 auto;
    height: 30px;
    margin: 25px;
}

header li {
    display: flex;
    padding: 40.5;
    height: 30px;
    margin: 12.5px;
    width: auto;
    text-transform: uppercase;
    text-align: center;
}

header {
    max-width: 1920px;
    width: 100%;
    height: 14.90740%;
    background: white;
    display: flex;
}

#container {
    max-width: 1576px;
    display: flex;
}

#welkombij {
    background-color: #4596BA;
    color: white;
    width: 82.0833333%;
    height: 35.55555%;
}

#logo-header {
    padding-left: 8.90625%;
    padding-top: 35px;
    padding-bottom: 35px;
    height: auto;
    width: 18.22916666666667%;
    max-width: 100%;
    display: flex;
}

.blauw-onderscheid {
    padding-left: 8.90625%;
    width: 91.09375%;
    height: 91px;
    margin-bottom: 35px;
    background: #399CFF;
    display: flex;
    flex-direction: row;
}

#koop-je-tickets {
    color: white;
    font-size: 25px;
    width: 20%;
    height: 30px;
}

#film-keuze-nav {
    padding-left: 0.78125%;
    margin-top: 20px;
    height: 46px;
    border-style: unset;
    color: white;
    background: #76BBD9;
    margin-right: 1.822916666666667%;
}

#bestel-tickets-nav {
    height: 37px;
    color: #399CFF;
}

.titel-kop {
    background: white;
    width: 81.97916666666667%;
    margin-bottom: 30px;
}

.titel-kop-titel {
    padding-left: 1%;
    padding-top: 1%;
    font-size: 70px;
    color: #399CFF;
    margin: 0;
}

.standaard-margin {
    background: white;
    width: 59.89583333333333%;
    height: 2494.87px;
    padding: 46px;
    padding-bottom: 0;
    margin-bottom: 46px;
}

.standaard-margin-info {
    color: grey;
}

#text-film {
    padding-left: 3.5%;
    background: white;
    margin-top: 1px;
    margin-right: 0.5208333333333333%;
}

#film-quick-order {
    display: flex;
    flex-direction: row;
    width: 21.09375%;
}

.stappen {
    font-size: 30px;
    color: #399CFF;
}

#tijdstip-quick-order {
    margin-left: 0.5208333333333333%;
}

.controlle-image-film {
    width: 216px;
    height: 326px;
    margin-left: 20px;
}

.soort-tickets {
    display: flex;
    width: auto;
}

.tickets-text-juiste-padding {
    margin-left: 41.66666666666667%;
    width: auto;
    padding-right: 4.166666666666667%;
}

.tickets-text-juiste-padding-correction {
    margin-left: 0;
}

.p-fit-content {
    width: fit-content;
}

hr {
    margin: 0;
    width: 95%
}

.aantal-tickets-box {
    width: 4.427083333333333%;
}

#voucher {
    display: flex;
    margin-top: 30px;
}

#voucher-box {
    height: 35px;
    margin-left: 1.302083333333333%;
    width: 37.60416666666667%;
    margin-right: 0.625%;
}

#toevoegen {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #399CFF;
    color: white;
    height: 34px;
    width: 240px;
}

.film-info {
    width: 59.94791666666667%;
    border: 1px solid blue;
    padding-top: 5px;
}

#film-info-context {
    width: 544px;
    display: inline-block;
    vertical-align: top;
}

#film-info-context h3 {
    margin-bottom: 0;
}

.kijk-wijzer {
    width: auto;
    display: inline-block;
    vertical-align: top;
}

.remove-margin-both-p {
    margin-bottom: 0;
    margin-top: 0;
}

form {
    display: inline-block;
    width: 617px;
}

.input-name {
    width: 290px;
    border: #399CFF 2px solid;
    height: 50px;
}

.input-email {
    margin-top: 2%;
    height: 50px;
    width: 617px;
    border: #399CFF 2px solid;
}

#checkboxes {
    display: flex;
    flex-direction: row;
}

.payment-method-checkbox {
    height: 22px;
    width: 22px;
}

.payment-method-image {
    height: 65px;
    width: auto;
}

#voorwaarden {
    margin-top: 2%;
    display: flex;
    width: auto;
}

#submit {
    height: 122px;
    left: 0;
    width: 1250px;
    font-size: 45px;
    color: white;
    background: #4596BA;
}

footer {
    margin-top: 110px;
    height: 480px;
    background: #666666;
    width: 100%;
    color: white;
    display: flex;
    padding-top: 80px;
}

#blok1 {
    margin-left: 180px;
    width: 403px;
    margin-right: 5%;
}

#logo-footer {
    height: 107px;
    width: 301.19px;
}

#blok2 ul {
    padding: 0;
}

#blok2 li {
    list-style: none;
    padding-bottom: 2px;
}

#blok2 {
    margin-right: 5%;
}

#disclaimer {
    padding-left: 180px;
    color: white;
}

#location {
    width: 1574px;
    height: 670px;
    background-color: white;
    display: flex;
}

#map-text {
    width: 745px;
    height: 585px;
    background-color: #4596BA;
}

#location-img {
    width: 713px;
    height: 585px;
}

#locatext {
    width: 745px;
    height: 235px;
    background-color: #399CFF;
    color: white;
}

@media only screen and (max-width: 390px) {
    header {
        width: 100%;
        display: block;
    }
    #logo-header {
        height: 80px;
        width: auto;
        padding-left: 2%;
    }
    #koop-je-tickets {
        width: 50%;
        font-size: 15px;
        margin-top: 25px;
    }
    #quick-nav-mobile {
        width: 100%;
    }
    #film-keuze-nav {
        width: auto;
        height: 20px;
    }
    #film-quick-order {
        width: 100%;
    }
    #bestel-tickets-nav {
        width: auto;
        height: 20px;
    }
    .titel-kop {
        width: 100%;
    }
    .titel-kop-titel {
        font-size: x-large;
    }
    #text-film {
        padding: 0;
    }
    main {
        margin: auto;
        width: 100%;
    }
    .standaard-margin {
        width: auto;
    }
    h1 {
        font-size: 20px;
    }
    #voucher {
        width: 10%;
        font-size: 10px;
        margin-bottom: 8%;
    }
    #voucher-box {
        height: auto;
        width: 100px;
    }
    .tickets-text-juiste-padding {
        margin-left: 30%;
    }
    .soort-tickets {
        width: 100%;
    }
    .film-info {
        width: 100%;
    }
    #film-info-context {
        width: 100%;
    }
    form {
        width: 100%;
    }
    .input-email {
        width: 100%;
    }
    #checkboxes {
        width: auto;
        height: 20px;
    }
    .payment-method-image {
        width: auto;
        height: 20px;
    }
    #voorwaarden {
        margin-top: 20px;
    }
    #submit {
        width: 100%;
    }
    #blok1 {
        margin: 0;
        margin-left: 5%;
    }
    #logo-footer {
        height: 50px;
        width: auto;
    }
    #blok1 p {
        font-size: 10px;
    }
    #blok2 h3 {
        font-size: medium;
    }
    #blok2 ul {
        font-size: 10px;
    }
    #blok3 h3 {
        font-size: medium;
    }
    #socials img {
        width: auto;
        height: 10px;
    }
    #disclaimer {
        padding: 0;
        font-size: small;
    }
}